@font-face {
  font-family: "Quicksand";
  src: url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.app {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.section {
  box-shadow: 0 0 5px #cccccc;
  padding: 15px 10px;
}
